*{
    margin:0%;
    padding:0%;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 3, 184);
 
}
#logo{
height: 80%;
padding: 8px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
    
    margin: 25px;
    border-radius: 50%;
    color: rgb(18, 18, 91);
    display: flex;
}
.texts:hover{
    
 color: rgb(36, 0, 219);
   
}
#contact{
    margin-left: 40px;
    margin-top: 12px;
    font-weight: lighter;
}

.icons{
    font-size: large;
    padding: 10px;

    border-radius: 50%;
    font-size: x-large;
}
.icons:hover{
    background-color: lightblue;
}
#login{
    display: flex;
    padding: 10px;
    border-radius: 30%;
}
#Try{
   justify-content: center;
   align-items: center;
   text-align: center;
    padding: 10px;
    border-radius: 50%;
}
#Try:hover{
     background-color: lightblue
     ;
}
#login:hover{
    background-color:lightblue;
}
#header{
    position: fixed;
    display: flex;
    height: 12%;
    width: 100%;
    background-color: rgb(238, 6, 6);
    justify-content: space-around;
}
#fakeheader{
    height: 12%;
    width: 100%;
    background-color: rgb(255, 254, 254);
}
#page1{
    height: 90%;
    width: 100%;
    background-color:rgb(243, 243, 243)
    ;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: #ffffff;
}

#strip{
    height: 7%;
    width: 100%;
    background-color: rgb(54, 54, 173);
    justify-content: center;
    align-items: center;
    display: flex;
    color: beige;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
}
/* page 1 */

#box1{
    height: 390px;
    width: 800px;
   margin-right: 10px;
   
    
}
#box2{
    height: 390px;
    width: 700px;
   
}
#bottom{
 margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    
margin-top: 40px;
    width: 100%;
    height: 13%;
    background-color: rgb(203, 245, 179);
}
#btns{
    display: flex;
}
#btn1{
    text-align: center;
    width:20%;
    padding: 10px 20px;
    border: 1px,solid,blue;
    border-radius: 80%;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    margin-right: 100px;

}
#btn1:hover{
    background-color: yellow;
}
#btn2:hover{
    background-color: yellow;
}
#btn2{
    text-align: center;
    width:20%;
    color: rgb(0, 0, 0);
    border: 1px,solid,blue;
    border-radius: 80%;
    padding: 10px 20px;
    background-color: aquamarine;
}
#bottom h2{
    font-weight: 500px;
}
#box1 h2{
    font-weight: 600;
    color: black;
    font-size: 50px ;
}
#box1 p{

    color: black;
    font-size: 18px ;
}
#card{
    align-items: center;
    justify-content: center;
    border-radius: 45%;
}
#boxxx{
    width: 90%;
    height: 78%;
    border-radius: 50%;
    border: solid,black,2px;
}
#boxxx:hover{
    background-color: blueviolet;
}